instance-id: {{ opts.parms.instance_uuid }}

network-interfaces: |
  #auto lo
  #iface lo inet loopback

  auto eth0
  iface eth0 inet static
    address {{ opts.parms.ipaddr }}
    netmask {{ opts.parms.netmask }}
    gateway {{ opts.parms.gateway }}
    dns-nameservers 194.168.4.100 194.168.8.100
